*{
    margin: 0;
    padding: 0;
}


#about > a > img{
    width: 85px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    
    position: absolute;
    top: 57px;
    left: 70px;
}


/* CONFIG. COM CLASS */

.pos{
    text-align: center;
    padding: 10px;
}

.uf{
    text-align: center;
    padding: 5px;
}

.ufb{
    padding: 5px;
}

.forma-h1{
    text-align: center;
    padding: 10px;
}

.forma-h2{
    text-align: center;
    padding: 10px;
}


td.forma{
    text-align: center;
    padding: 10px 5px;

}

.tab{
    padding: 10px;
    text-align: center;
}

.cl-g{
    text-align: center;
    padding: 10px;
}

.cl-g > span{
    color: green;
}

.total{
    padding: 10px;
    text-align: center;
}

.pais{
    text-align: center;
    padding: 0px 30px 0px;
}



/*--------------------------------*/





body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a{
    text-decoration: none;
    color: blue;
}

a:hover{
    text-decoration: underline;

}

caption{
    margin-top: 50px;
    font-size: 1.5em;
    padding: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
}


table{
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 50px;
}

thead > tr > th{
    /*EFEITO STICKY*/
    position: sticky;
    top: -1px;
    /*-------------*/

    line-height: 1.5em;
    border: 1px solid #a0a2a5;
    background-color: #EAECF0;
    font-weight: bold;
    
}
thead{
    width: 100%;
}

tbody{
    width: 100%;
}

tbody > tr > td{
    white-space: nowrap;
    border: 1px solid #a0a2a5;
    background-color: #F8F9FA;
}
